*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: $color-primary;
  color: white;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  //font-size: 75%;
}

body {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 2rem;
  }

  &::-webkit-scrollbar-track {
    background: $color-black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary-light;
    border-radius: 1rem;

    &:window-inactive {
      background: $color-primary;
    }
  }


}

a {
  &:hover,
  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    transform: scale(1.2);
    transition: all .2s;
  }

  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
  }
}

.link-item {
  &:hover,
  &:active {
    background-color: $color-grey-light-3;
    box-shadow: none !important;
    transform: scale(1) !important;
    transition: all .2s;
  }
}

ul {
  list-style: none;
}
